@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.ibm-plex mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex sans-light {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.spacer-sm {
  margin-bottom: 0.5em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  background-color: rgb(226, 231, 232);
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1000px;
  padding: 2em;
  margin: auto;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

a, a:visited, a:hover {
  color: black;
}

a:hover, a>img:hover {
  background-color: yellow;
}

ol li {
  margin-bottom: 1em;
}

.header {
  border-bottom: 4px solid black;
  padding-bottom: 2em;
}

.header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2em;
  margin: 2em 0;
}

.content-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-body img {
  padding: 0.5em;
}

.img-1x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.portrait {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url("assets/cat.jpg");
  background-size: contain;
}

.portrait:hover {
  background-image: url("assets/flo.png");
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .content {
    grid-template-columns: 1fr;
  }
}